  
h1{
    color: pink;
    text-align: center;
}

#todo{
    background-color: rgba(97, 207, 170, 0.685);
    border-style: groove;
    border-color: rgb(0, 162, 255);
    border-width: 7px;
}

#list{
    background-color: rgba(194, 243, 19, 0.726);
    border-style: groove;
    border-color: coral;
    border-width: 7px;
}

body{
    background-color: rgba(1, 225, 255, 0.486);
}

input[type="text"]{
    width: 370px;
}

.todo-list{
    display: inline;
}

.important{
    color: red;
    font-weight: bold;
}

.checked{
    color: black;
    text-decoration: line-through;
}